{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

 <ul class="menu align-right">
  <li><a href="/login">Login</a></li>
</ul>
  <h1 class="text-center">Register</h1>  

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class='flashes grid-x grid-padding-x align-center'>
    {% for category, message in messages %}
      <li class={{category}}>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 <div class="grid-container">
  <div class="grid-x grid-margin-x align-center">

      <form id="register-form" method="POST">
  {{ form.hidden_tag() }} 

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {% if field.name == 'username' %}{{ field(maxlength=20) }}{% endif %}
      {% if field.name == 'email' %}{{ field(maxlength=50) }}{% endif %}
      {% if field.name == 'first_name' %}{{ field(maxlength=30) }}{% endif %}
      {% if field.name == 'last_name' %}{{ field(maxlength=30) }}{% endif %}
      {% if field.name == 'password' %}{{ field }}{% endif %}
      

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}
<div class="grid-x grid-margin-x align-center">
  <button class="submit success button" type="submit">Register</button>
</div>      
</form>

  </div>
 </div>
  
{% endblock %}