{% extends 'base.html' %}
{% block title %}Welcome to the secret club{% endblock %}
{% block content %}
<div class="menu align-right">
  <div class="align-self-middle">{{user.username}}</div>
  <div><a href="/sign-out">Sign out</a></div>
</div>


  <h1>Secret secrets are no fun. Secret secrets, hurt someone</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class='flashes grid-x grid-padding-x align-center'>
    {% for category, message in messages %}
      <label class={{category}}>{{ message }}</label>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  {% endblock %}