/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.row{
    background-color: #060CE9;
    color: #FFCC00;
    font-family: "Roboto";
    margin: 5px;
  
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}

#logo {
  height: 10vh;
  margin-bottom: 2rem;
}

td{
  width: 13vw;
  height: 10vh;
  text-align: center;
}

th{
  height: 15vh;
  font-size: 2.5vh
}

.clue{
  background-color: #060CE9;
  font-size: 5vh;
  color: #FFCC00
}
#categories{
  background-color: #060CE9;
  color: #FFCC00;
}

h1{
  color: #FFCC00;
}

.question{
  font-size: 1.7vh;
  color: white;
}


#start-button{
  background-color: #FFCC00;
  color: #060CE9;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 15vw;
  height: 8vh;
  margin: 2rem;
}

#start-button:hover{
  background-color: #060CE9;
  color: #FFCC00;
}

#spinner{
  margin: 25vh;
  font-size: 10vh;
  display: none;
}
