{% extends 'base.html' %}

{% block title %}Add Pet{% endblock %}
{% block content %}
  <h1>Add/Edit Pet Info</h1>

  {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class={{category}}>{{ msg }}</div>
  {% endfor %}

  <form id="pett-add-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>






{% endblock %}