{% extends 'base.html' %}

{% block title %}Add Pet{% endblock %}
{% block content %}
  <h1 class="text-center">Add/Edit Pet Info</h1>

 <div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4"></div>
    <div class="cell small-4">
      <form id="pet-add-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}
<div class="grid-x grid-margin-x align-center">
  <button class="submit success button" type="submit">Submit</button>
</div>      
</form>
    </div>
    <div class="cell small-4"></div>
  </div>
 </div>
  


{% endblock %}