{%extends 'base.html'%}

{%block title%}Welcome to our Agency!{%endblock%}

{%block content%}
<h1>Pets looking for a new home</h1>
 {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class={{category}}>{{ msg }}</div>
  {% endfor %}
<div>
{%for pet in pets%}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="card" style="width: 300px">
        <img src="{{pet.image_url()}}" alt="URL for {{pet.name}} profile picture">
        <div class="card-section">
            {%if pet.available == True%}
            <a href="/{{pet.id}}"><h3>{{pet.name}}</h3></a> <b>AVAILABLE</b>
            {%else%}
            <a href="/{{pet.id}}"><h3>{{pet.name}}</h3></a>
            {%endif%}
        </div>
    </div>
  </div>
</div>

        {%else%}
        <div>No pets yet...</div>

{%endfor%}
</div>
<a href="/add">Add</a>

{%endblock%}