{%extends 'base.html'%}

{%block title%}Welcome to our Agency!{%endblock%}

{%block content%}
<h1>Pets looking for a new home</h1>
 {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class={{category}}>{{ msg }}</div>
  {% endfor %}
<div>
{%for pet in pets%}
    <img src="{{pet.photo_url}}" alt="{{pet.photo_url}} profile picture">
    
        {%if pet.available == True%}
        <h3>{{pet.name}}</h3> is <b>available</b>!
        {%else%}
        <h3>{{pet.name}}</h3>
        {%endif%}
        
    <br>
    <br>
    <br>
{%endfor%}
</div>
<a href="/add">Add</a>

{%endblock%}