{%extends 'base.html'%}
{%block title%}{{pet.name}}{%endblock%}
{%block content%}
<h1>{{pet.name}}</h1>
<form id="pet-add-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit">Edit</button>
</form>
<a href="/">All Pets</a>
{%endblock%}