{%extends 'base.html'%}
{%block title%}{{pet.name}}{%endblock%}
{%block content%}
<div class="grid-x grid-padding-x align-center">
  {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="label {{category}} text-center">{{ msg }}</div>
  {% endfor %}
</div>

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4"></div>
    <div class="cell small-4">
      <div class="card">
        <img src="{{pet.image_url()}}" alt="URL for {{pet.name}}">
        <div class="card-section text-center">
          <h1>{{pet.name}}</h1>
          <h4>Species: {{pet.species}}</h4>
          <h4>Age: {{pet.age}}</h4>
        </div>
      </div>
    </div>
    <div class="cell small-4"></div
  </div>
</div>

<form id="pet-add-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}
<div class="grid-x grid-padding-x align-center">
  <button type="submit" class="submit success button">Edit</button>
  </div>
</form>
<div class="grid-x grid-padding-x align-center">
<a class="button" href="/">Back to all pets</a>
</div>
{%endblock%}