html {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0px;
    
}

#div-input {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(198,85%, 85%);
    width: 100vw;
    padding-bottom: 2vh;
}

 
label {
    display: inline-block;
    width: 100px;
    margin: 5px;
    text-align: right;
}

input {
    width: 80vw;
}
form{
    border: none;
    width: 95vw;
    margin: 0px auto;
} 

#create-button {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    position: relative;
    width: 75px;
    margin: 15px 43vw;
    background-color: hsl(37, 99%, 70%);
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 2px 3px 3px 0px black;
}

#create-button:hover {
    background-color: hsl(37,100%,85%);
    box-shadow: 1px 3px 3px 0px black;
}

.generated-memes {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.generated-meme {
    margin: 5px;
    max-width: 400px;
}

.top-text {
    color: white;
    /* text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black; */
    position: absolute;
    margin: 10px auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
    align-self: flex-start;
}

.bottom-text {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    /* text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black; */
    margin: 10px auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-self: flex-end;
}

img {
    opacity: 1;
}

.remove {
    color: black;
    font-size: 1.25rem;
    position: absolute;
    align-self: center;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px black;
    border-width: 1px;
    opacity: 0;
}