
{% extends 'base.html' %}


{%block title%} Boggle! {% endblock%}

{% block content%}

<div class="board">
<img src="../static/logo.png" alt="Boggle Logo">
<div id="score">Score: {{score}}</div>
<form>
    <button type="submit" id="reset">RESET</button>
</form>
<div id="letters">
{% for row in board %}
 <div class="row">
    {% for letter in row %}
        <div class="letter">{{letter}}</div>
    {% endfor %}
 </div>
{% endfor %}
</div>

<div class="entry">
<form >
    <input type="text" name="word-input" id="word-input" placeholder="Enter a word" style="text-transform:uppercase">
    <button id="try-word">Submit</button>
</form>
<h1 id="result"></h1>
</div>

</div>

<div id="words-list" class="hidden">
    <h2>Words Found</h2>
    <hr>
    <ul>
        {% if words|length > 0 %}
            {% for word in words %}
                <li>{{word}}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div>

{% endblock %}