body {
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.board {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: orange;
	width: 30rem;
	height: 40rem;
	margin: 0 auto;
	border: 2px solid #ffa600;
	border-radius: 5%;

	box-shadow: 1px 1px hsl(39, 100%, 40%),
				2px 2px hsl(39, 100%, 40%),
				3px 3px hsl(39, 100%, 40%),
				4px 4px hsl(39, 100%, 40%),
				5px 5px hsl(39, 100%, 40%),
				6px 6px hsl(39, 100%, 40%),
				7px 7px hsl(39, 100%, 40%);
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.letter {
	display: inline;
	text-align: center;
	width: 4.5rem;
	margin: 10px;
    font-size: 4rem;
	font-weight: bold;
	border: 2px solid white;
	border-radius: 10%;
	background-color: white;


	box-shadow: 1px 1px hsl(0, 0%, 90%),
            	2px 2px hsl(0, 0%, 90%),
            	3px 3px hsl(0, 0%, 90%);
}

img{
	display: inline-block;
	position: relative;
	top: 2rem;
	margin: 0 auto;
	height: 10%;
}

.entry{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 90%;
}

#word-input{
	width: 80%;
	height: 2rem;
}
#score{
	width: 100%;
	position: relative;
	font-size: 1.5rem;
	margin-left: 1.25rem;
	top: .75rem;
}

form{
	width: 100%;
	display: flex;
	align-items: center;
}

input[type="text"] {
    font-size: 2rem;
}

#try-word{
	width: 20%;
	height: 2rem;
	font-size: 1.25rem;
	margin-left: 1rem;
	border-radius: 7%;
}



#reset{
	display: inline;
	position: relative;
	left: 82%;
	bottom: 1.25rem;
	width: 15%;
	height: 2rem;
	border: 2px solid hsl(0, 0%, 0%);
	border-radius: 10%;
}

.hidden{
	display: none;
}

.success{
	display: inline;
    position: absolute;
	
    bottom: 50%;
    width: 100%;
    margin: auto;
    height: 5rem;
    background-color: #ffa600;
    text-align: center;
    color: rgb(47, 220,47);
    font-size: 3rem;
    line-height: 5rem;
	opacity: 1;
}

.fail{
	display: inline;
    position: absolute;
   
    bottom: 50%;
    width: 100%;
    margin: auto;
    height: 5rem;
    background-color: #ffa600;
    text-align: center;
    color: rgb(228, 1, 1);
    font-size: 3rem;
    line-height: 5rem;
	opacity: 1;
}

#words-list{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 30rem;
	margin: 0 auto;
}

ul {
	justify-content: center;
    align-items: center;
    columns: 3;
    width: 30rem;
	padding: 0;
}

hr{
	width: 30rem;
}

li{
	display: flex;
	justify-content: center;
}
