body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

.square {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redfill{
    background-color: red;
    border: 7px solid red;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

.bluefill{
    background-color: blue;
    border: 7px solid blue;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

#game-board{
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    flex-direction: row;
}

.column-top{
    border: 1px dotted black;
}