.Pokedex{
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: rgb(191, 191, 191);
}

.Pokedex-title{
    align-self: center;
}

.Pokedex-Pokecards{
    display: flex;
    width: 100vw;
    justify-content:space-around;
    align-content: space-around; 
    flex-wrap: wrap;
}