{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<h1 class="text-center">Edit Post</h1>

<form action="/posts/{{post.id}}/edit" class="row g-3" method="post">
 <div class="col-md-2"></div>
  <div class="col-md-4">
  <label for="title" class="form-label">Title</label>
  <input type="text" name="title" class="form-control" value="{{post.title}}">
</div>

<div class="col-md-4">
  <label for="content" class="form-label">Content</label>
  <textarea name="content" cols="30" rows="10">{{post.content}}</textarea>
</div>
<div class="col-md-2"></div>

<button id="Save" class="col-md-8 btn btn-primary my-2">Edit</button>
<div class="col-md-2"></div>

</form>

<form action="/posts/{{post.id}}" method="get" class="row g-3">
  <div class="col-md-2"></div>
  <button class="col-md-8 btn btn-danger">Cancel</button>
  <div class="col-md-2"></div>
</form>
{% endblock %}