{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit a user</h1>

<form action="/users/{{user.id}}/edit" method="post">
<label for="first_name">First Name</label>
<input type="text" name="first_name" value="{{user.first_name}}" id="first_name" placeholder="Enter a first name">

<label for="last_name">Last Name</label>
<input type="text" name="last_name" value="{{user.last_name}}" id="last_name" placeholder="Enter a last name">

<label for="image_url">Image URL</label>
<input type="text" name="image_url" value="{{user.image_url}}" id="image_url" placeholder="Provide an image of this user">


<button id="Save">Save</button>
</form>

<form action="/users" method="get"><button>Cancel</button></form>
{% endblock %}