{% extends 'base.html' %}

{% block title %}Tag Name{% endblock %}

{% block content %}
 <div class="row">
    <div class="col-md-4"></div>
    <!-- <img src="{{user.image_url}}" class="profile-pic col-md-4" alt="{{user.get_full_name()}} Profile Picture"> -->
    <div class="col-md-4"></div>
  </div>
  
  <h1 class="text-center">Tags</h1>


  {% if tag.posts|length > 0 %}
  <ul>  
    {% for post in tag.posts %}
      <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}


  <form action="/tags/{{tag.id}}/edit" method="GET" class="row g-3">
    <div class="col-md-4"></div>
    <button class="col-md-4 btn btn-info my-2">Edit</button>
    <div class="col-md-4"></div>
  </form>
  <form action="/tags/{{tag.id}}/delete" method="POST" class="row g-3">
    <div class="col-md-4"></div>
    <button class="col-md-4 btn btn-danger">Delete</button>
    <div class="col-md-4"></div>
  </form>

{% endblock %}