{% extends 'base.html' %}

{% block title %}All Tags{% endblock %}

{% block content %}

<h1 class="text-center">Tags</h1>
{% with messages = get_flashed_messages(with_categories=true)%}
{% if messages%}
<div class="row">
  <div class="col-md-5"></div>
  <ul class="col-md-2 list-group flashes">
    {% for category, message in messages%}
    
    <li class="list-group-item list-group-item-success my-4">{{message}}</li>
    
    {% endfor %}
  </ul>
  <div class="col-md-5"></div>
</div>
  {% endif %}
  {% endwith %}


<div class="row">
<div class="col-md-4"></div>
<ul class="list-group col-md-4">
  {% for tag in tags%}
  <li class="list-group-item"><a href="tags/{{tag.id}}">{{tag.name}}</a></li>
  {% endfor %}
</ul>
<div class="col-md-4"></div>
</div>

  
<form action="/tags/new" method="get" class="row g-3">
<div class="col-md-4"></div>
  <button class="btn btn-primary col-md-4 my-5"">Add Tag</button>
<div class="col-md-4"></div>
</form>
{% endblock %}